<div class="main">
  <header>
    <div class="routers" routerLink="/home" routerLinkActive="active">
      <i class="material-icons-outlined">home</i>
      <p>HOME</p>
    </div>
    <div class="routers" routerLink="/about" routerLinkActive="active">
      <i class="material-icons-outlined">info</i>
      <p>ABOUT</p>
    </div>
  
    <div class="routers" routerLink="/albums" routerLinkActive="active">
      <i class="material-icons-outlined">photo_album</i>
      <p>ALBUMS</p>
    </div>
    
  </header>
  
  
  <router-outlet></router-outlet>
  
  <footer>
    <a href="https://github.com/Nura-21/WEB-Spring-2022/tree/main/Labs/6lab/photo-albums">
      <div class="logo" >
        <i class="material-icons">logo_dev</i>
        <p>PHOTO ALBUM</p>
      </div>
    </a>
  </footer>
</div>

