<div *ngIf="product.catId == catId">
  <div class="product">
    <img [src]="product.imgLink" [alt]="product.name">

    <a [href]="product.link">
      {{product.name}}
    </a>
    <p>
      {{product.desc}}
    </p>

    <div>
      <span class="material-icons" *ngFor="let i of [].constructor(getRating())"
        [title]="'Rating ' + product.rate">star_rate
      </span>
    </div>

    <div class="action">
      <a class="share-btn" [href]="getShareLink()" title="Link through Telegram"><i id="like"
          class="material-icons">share</i></a>
      <button type="button" (click)="addToCart(product)"><i id="like" class="material-icons">shopping_cart</i></button>
      <button class="remove-btn" (click)="removeItem(product)"><i id="like" class="material-icons">delete</i></button>
      <button class="like-btn" (click)="addLike()"><i id="like" class="material-icons">favorite</i>
        {{product.likes}}</button>
    </div>
  </div>
</div>